<h1><%= board.escape("title") %></h1>

<ul>
  <% _.each(board.lists().models, function(list) { %>
    <li><%= list.escape("title") %></li>
  <% }) %>
</ul>

<a href="#/">Index</a>
<div class="new-list-view">
</div>
