<h1><%= board.escape("title") %></h1>

<ul>
  <% _.each(board.lists().models, function(list) { %>
    <div class="list"><%= list.escape("title") %></div>
  <% }) %>
</ul>

<a href="#/" class="index-button">Index</a>
<div class="new-list-view">
</div>
